<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Skapa konto</title>
</head>
<body>
<form th:action="@{/create}" method="post"
    style="max-width: 350px; margin: 0 auto;">
    <div class="border border-secondary p-3 rounded">
        <img th:src="@{'/images/catcreatepage.jpg'}"
             style="max-width:300px; display: block; margin-left: auto; margin-right: auto;">
        <h1>Bli en i kattgänget!</h1>
    <div>
        <label>
            Name: <input type="text" name="name" placeholder="Användarnamn"/>
        </label>
    </div>
    <div>
        <label>
            Password: <input type="password" name="password" placeholder="Lösenord"/>
        </label>
    </div>
    <div>
        <label>
            Användarnamn: <input type="text" name="username" placeholder="Användarnamn"/>
        </label>
    </div>
    <div>
        <label>
            E-mail: <input type="email" name="email" placeholder="katten@hotmail.se"/>
        </label>
    </div>
    <div><p>Om mig: (Max 300 tecken)</p>
        <textarea datatype="description" name="description" placeholder="Här kan du beskriva dina kattintressen och dyl." maxlength="300" rows="5" cols="30">

        </textarea>
    </div>

    <div>
        <input type="submit" value="Skapa konto"/>
    </div>
    </div>
</form>


</body>
</html>