<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Delete</title>
</head>
<body>
<div style="max-width: 350px; margin: 0 auto;">
    <div class="border border-secondary p-3 rounded">
<h1 style="text-align: center;">Radera konto</h1>
        <img th:src="@{'/images/catdeletepage.jpg'}"
             style="display: block; margin-left: auto; margin-right: auto; max-width: 300px;"></br>
        <p>Nu har Kattis konto tagits bort</p>
    </div>
</body>
</html>