<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Home page</title>
</head>
<body>
<div style="max-width: 600px; margin: 0 auto;">
<div class="border border-secondary p-3 rounded">
  <h1 style="text-align: center;">Välkommen till kattforum!</h1>
  <img th:src="@{'/images/cathomepage3.jpg'}"
       style="display: block; margin-left: auto; margin-right: auto;">
  <div style="text-align: center;">
      <button type="button" style="background-color: #e7e7e7 color=black; text-decoration: none;"><a th:href="@{/create}">Inlägg i kattforum</a></button>
   <p>Klicka  <a th:href="@{/login}">här</a> om du är admin, logga in</p>
  <p><a th:href="@{/delete}">Klicka för att ta bort ditt konto</a></p>

  <p><a th:href="@{/create}">Skapa konto!</a>  </p>
  <p><a th:href="@{/mypage}">Till mina sidor</a></p>
  <p><a th:href="@{/update}">Uppdatera ditt namn här</a></p>
  </div>

</div>
</div>

</body>
</html>