<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Home page</title>
</head>
<body>
<div style="max-width: 600px; margin: 0 auto;">
<div class="border border-secondary p-3 rounded">
  <h1 style="text-align: center;">Välkommen till kattforum!</h1>
  <img th:src="@{'/images/cathomepage3.jpg'}"
       style="display: block; margin-left: auto; margin-right: auto;">
  <div style="text-align: center;">
      <button type="button" style="display: block; margin-left: auto; margin-right: auto; margin-top: 20px; background-color: #cac4d8; color=black; text-decoration: none;">
          <a th:href="@{/forum}">Inlägg i kattforum</a></button></br>
   <button type="button" style="background-color: #cac4d8; color=black; text-decoration: none;">
       <a th:href="@{/login}">Logga in</a></button>
      <button type="button" style="background-color: #cac4d8; color=black; text-decoration: none;">
      <a th:href="@{/create}">Skapa konto</a></button>
      <button type="button" style="background-color: #cac4d8; color=black; text-decoration: none;">
      <a th:href="@{/mypage}">Mina sidor</a></button>
      <h6 style="margin-top: 20px";>Kontohantering:</h6>
  <button type="button" style="display: block; margin-left: auto; margin-right: auto; background-color: #cac4d8; color=black; text-decoration: none;">
      <a th:href="@{/delete}">Radera konto</a></button><br>
  <button type="button" style="display: block; margin-left: auto; margin-right: auto; background-color: #cac4d8; color=black; text-decoration: none;">
      <a th:href="@{/update}">Uppdatera konto</a></button>
  </div>

</div>
</div>

</body>
</html>