<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Ny login</title>
</head>
<body>
<form th:action="@{/login}" method="post"
style="max-width: 350px; margin: 0 auto;">
    <div class="borde border-secondary p-3 rounded">
    <h3>Logga in till vår kattchatt</h3>
    <div th:if="${param.error}">
        Invalid email and password.
    </div>
    <div th:if="${param.logout}">
        You have been logged out.
    </div>
    <div>
        <label>
            Username: <input type="text" name="username" id="inputUsername" placeholder="Användarnamn"/>
        </label>
    </div>
    <div>
        <label>
            Password: <input type="password" name="password" placeholder="Lösenord"/>
        </label>
    </div>
    <div>
        <input type="submit" value="Sign In"/>
    </div>
    </div>

</form>
</body>
</html>