<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Uppdatera namn</title>
    <img th:src="@{'/images/catupdatepage.jpg'}"
         style="display: block; margin-left: auto; margin-right: auto;">
</head>
<body>
<div style="max-width: 600px; margin: 0 auto;">
    <div class="border border-secondary p-3 rounded">
        <h1 style="text-align: center;">Nu har namnet uppdaterats!</h1>
</body>
</html>